	    body {
	    	background-color: black;
	    	color: white;
	    }
	    .mytitle {
	    	color: yellow;
	    	font-weight: 100;
	    }
	    .small-font {
	    	font-size: 50px;
	    }
	    .main {
	    	height: 300px;
            display: table;
            margin: 0 auto;
	    }
	    a {
	    	text-decoration: none;
	    	color: #5F5F5F;
	    }
	    a:hover {
	    	text-decoration: underline;
	    }
	    h1:hover {
	    	color: green;
	    }
	    * {
		font-family: 'Stylish', sans-serif;
		}
