.header {
    display: block;
}

.masthead {
	text-align: center;
    color: #fff;
    background-image: url('img/DSC03917.JPG');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    height: 541px;
}


.container {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


.intro-text {
    padding-top: 150px;
    padding-bottom: auto;
}

.intro-lead-in {
	font-size: 50px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    font-family: 'Big Shoulders Text', cursive;
}

.intro-heading {
	font-size: 100px;
    font-weight: 500;
    line-height: 89px;
    margin-bottom: 25px;
    font-family: 'Fjalla One', sans-serif;

}

.card-deck {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.page-section {
    padding: 100px 0;
}

.container {
    max-width: 720px;
}

.section-heading {
    font-size: 60px;
    line-height: 30px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 25px;
}


.group {
    margin-right: 15px;
    margin-left: 15px;
}

.application {
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
}

.group {
    padding-bottom: 15px;
}

